#.gitignore
__pycache__/
manga/__pycache__/
docker-compose-develop.yml
tests/__pycache__/
tests/data/logs/manga.log
tests/data/container/logs/manga.log
tests/data/test_SQLite/.fuse*
tests/data/container/logs/.error_message.txt