#.gitignore
__pycache__/
manga/__pycache__/
docker-compose_testing.yml
tests/__pycache__/
tests/data/logs/manga.log
tests/data/container/logs/manga.log
.error_message.txt
tests/data/test_SQLite/.fuse*