#.gitignore
__pycache__/
manga/__pycache__/
epub/__pycache__/
docker-compose-develop.yml
Dockerfile-develop
tests/__pycache__/
tests/data/logs/manga.log
tests/data/container/logs/manga.log
tests/data/test_SQLite/.fuse*
tests/data/container/error_msg/.error_message.txt