<!DOCTYPE html>
<html>
    <head>
        <title>Auto Chapter - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="stylesheet" href="../static/auto_chapter.css">
    </head>
    <body>
        <div>
            <h1>AUTO CHAPTER</h1>
            <!--Auto Chapter Form-->
            <form name="aformat" method="POST">
                <!-- Manga -->
                <div>
                    <!--NEED TO FIND WAY TO SELECT BASED ON SQL-->
                    <select class="selectmanga" name="manga">
                        {% for i in range(0,len) %}
                        {{active_manga[i]}}
                        {% endfor %}
                    </select>
                </div>
                <!--Chapter Title-->
                <div>
                    <input class="inputtitle" type="text" name="title" placeholder="Chapter Title" onfocus="this.placeholder = ''" onblur="this.placeholder='Chapter Title'" autocomplete="off">
                </div>
                <!--Auto Chapter-->
                <div>
                    <input class="autochapter" type="submit" name="auto_chapter" value="Auto Chapter">
                </div>
                <!-- Main Menu -->
                <div>
                    <input class="mainmenu" type="submit" name="auto_chapter" value="Main Menu">
                </div>
            </form>    
        </div>
    </body>
</html>
