<!DOCTYPE html>
<html>
    <head>
        <title>Auto Format - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
    </head>
    <body>
        <div>
            <h1>AUTO FORMAT</h1>
            <!-- Auto Format Form -->
            <form name="autoformat" method="POST">
                <!-- Auto Chapter -->
                <div>
                    <input class="top_left button dark_pastel_blue" type="submit" name="auto_format" value="Chapter">
                </div>
                <!-- Auto Volume -->
                <div>
                    <input class="top_right button brown" type="submit" name="auto_format" value="Volume">
                </div>
                <!-- Main Menu -->
                <div>
                    <input class="menu_item main button red" type="submit" name="auto_format" value="Main Menu">
                </div>
            </form>
            <!-- Chapter Table -->
            <table class="bottom_left table_color_dark_pastel_blue">
                <div>
                    <tr>
                        <th></th>
                        <th class = "td_right">Latest Chapter</th>
                    </tr>
                    {% for i in range(0,len) %}
                    <tr>
                        <td class = "td_left">{{ manga_chapter_title[i] }}</td>
                        <td class = "td_right">{{ manga_chapter_status[i] }}</td>
                    </tr>
                    {% endfor %}
                </div>
            </table>
            <!-- Volume Table -->
            <table class="bottom_right table_color_brown">
                <div>
                    <tr>
                        <th></th>
                        <th class = "td_right">Latest Volume</th>
                    </tr>
                    {% for i in range(0,len) %}
                    <tr>
                        <td class = "td_left">{{ manga_volume_title[i] }}</td>
                        <td class = "td_right">{{ manga_volume_status[i] }}</td>
                    </tr>
                    {% endfor %}
                </div>
            </table>  
        </div>
    </body>
</html>