<!DOCTYPE html>
<html>
    <head>
        <title>EPUB Format - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="stylesheet" href="../static/epub_option.css">
    </head>
    <body>
        <div>
            <h1>EPUB FORMAT</h1>
            <!-- Auto Format Form -->
            <form name="autoformat" method="POST">
                <!-- Auto EPUB -->
                <div>
                    <input class="auto" type="submit" name="epub" value="Auto">
                </div>
                <!-- Manual EPUB -->
                <div>
                    <input class="manual" type="submit" name="epub" value="Manual">
                </div>
                <!-- Main Menu -->
                <div>
                    <input class="mainmenu" type="submit" name="epub" value="Main Menu">
                </div>
            </form> 
        </div>
    </body>
</html>