<!DOCTYPE html>
<html>
    <head>
        <title>EPUB - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
    </head>
    <body>
        <div>
            <h1>EPUB</h1>
            <!--EPUB Auto Form-->
            <form name="EPUB" method="POST">
                <!-- Manga -->
                <div>
                    <select class="row_1" name="manga">
                        {% for i in range(0,len) %}
                        <option value="{{ manga_list[i] }}">{{ manga_list[i] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!--Volume Number-->
                <div>
                    <input class="row_2 wide_number text" type="text" name="volume_number" placeholder="Volume Number" onfocus="this.placeholder = ''" onblur="this.placeholder='Volume Number'" autocomplete="off">
                </div>
                <div>
                    <!-- Scans or Digital -->
                    <label class="radiobutton">
                        <input type="radio" name="scans" value="Scans">
                        <span class="row_3 scans radiobutton_color">Scans</span>
                    </label>
                    <label class="radiobutton">
                        <input type="radio" checked="checked" name="scans" value="Digital">
                        <span class="row_3 digital radiobutton_color">Digital</span>
                    </label>
                </div>
                <div>
                    <!-- Build TOC -->
                    <label class="checkbox">
                        <input type="checkbox" checked="checked" name="completed" value="Build">
                        <span class="row_4 completed checkbox_color">Series</span>
                    </label>
                </div>
                <!--EPUB Auto-->
                <div>
                    <input class="row_5 submit_button pink" type="submit" name="epub" value="EPUB">
                </div>
                <!-- Main Menu -->
                <div>
                    <input class="menu_item main submit_button red" type="submit" name="epub" value="Main Menu">
                </div>
            </form>    
        </div>
    </body>
</html>
