<!DOCTYPE html>
<html>
    <head>
        <title>Format Error</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="stylesheet" href="../static/error.css">
    </head>
    <body>
        <h1>
            ERROR
        </h1>
        <h2>
            <!--Show Error-->
            <div>{{error}}</div>
        </h2>
        <form name="commit" method="POST">
             <input class="back" type="submit" name="back" value="Main Menu">
        </form>
    </body>
    </div>
</html>