<!DOCTYPE html>
<html>
    <head>
        <title>Error - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
    </head>
    <body>
        <h1>ERROR</h1>
        <!-- Error -->
        <div class="message error">{{error}}</div>
        <form name="error" method="POST">
            <!-- Main Menu -->
            <div>
                <input class="go button green" type="submit" name="error_action" value="Try Again">
                <input class="no_go button red" type="submit" name="error_action" value="Main Menu">
            </div>
        </form>
    </body>
    </div>
</html>