<!DOCTYPE html>
<html>
    <head>
        <title>Main Menu - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <div>
            <h1>MAIN MENU</h1>
            <!-- Main Menu Form -->
            <form name="format" method="POST">
                <!-- Auto Format -->
                <div>
                    <input class="autoformat" type="submit" name="main_menu" value="Auto">
                </div>
                <!-- Manual Format -->
                <div>
                    <input class="manualformat" type="submit" name="main_menu" value="Manual">
                </div>
                <!-- Build epub -->
                <div>
                    <input class="buildepub" type="submit" name="main_menu" value="EPUB">
                </div>
                <!-- New Manga -->
                <div>
                    <input class="newmanga" type="submit" name="main_menu" value="New">
                </div>
                <div>
                    <input class="mainmenu" type="submit" name="main_menu" value="Main Menu">
                </div>
                <div>
                    <input class="settings" type="submit" name="main_menu" value="Settings">
                </div>
            </form>
        </div>
    </body>
</html>
