<!DOCTYPE html>
<html>
    <head>
        <title>index.html</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <div>
            <h1>WHAT FORMAT TYPE?</h1>
            <form name="format" method="POST">
                <div>
                    <input class="autoformat" type="submit" name="manga_format" value="Auto">
                </div>
                <div>
                    <input class="manualformat" type="submit" name="manga_format" value="Manual">
                </div>
                <div>
                    <input class="fullformat" type="submit" name="manga_format" value="Full Manga">
                </div>
            </form>
        </div>
    </body>
</html>
