<!DOCTYPE html>
<html>
    <head>
        <title>Manga Formatter</title>
    </head>
    <h1>
        MANGA FORMATTER
    </h1>
    <body>
        <div>
            <!--Format Form-->
            <!-- WIP -->
            <!-- <div>
                <form name="auto" method="POST">
                    <input type="submit" name="auto" value="Auto Format">
                </form>
            </div>
            <div>
                <form name="manual" method="POST">
                    <input type="submit" name="manual" value="Manual Format">
                </form>            
            </div> -->

             <!-- BEFORE -->
            <form name="format" method="POST">
                Select Format
                <label>Select Format</label>
                <select name="manga_format">
                    <option value="auto">Auto Format</option>
                    <option value="manual">Manual Format</option>
                    <option value="full">Full Manga Format</option>
                 </select> 
                 <input type="submit" name="submitformat" value="Format">
            </form>
        </div>
    </body>
</html>
