<!DOCTYPE html>
<html>
    <head>
        <title>FULL MANGA</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="stylesheet" href="../static/manual_multi.css">
    </head>
    <body>
        <h1>MANUAL MULTIPLE CHAPTERS</h1>
        <div>
            <!--FULL MANGA Form-->
            <form name = "fmformat" method = "POST">
                <div>
                    <input class="inputmanga" type="text" name="manga" placeholder="Manga" onfocus="this.placeholder = ''" onblur="this.placeholder='Manga'" autocomplete="off">
                </div>
                </div>
                <div>
                    <input class="manualmulti" type="submit" name="manual_multi" value="Multi Chapter">
                </div>
                <div>
                    <input class="mainmenu" type="submit" name="manual_multi" value="Main Menu">
                </div>
            </form>    
        </div>
        <br>        
    </body>
</html>