<!DOCTYPE html>
<html>
    <head>
        <title>Manual Volume - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
    </head>
    <body>
        <div>
            <h1>MANUAL VOLUME</h1>
            <!--Manual Volume Form-->
            <form name = "mvolume" method = "POST">
                <!-- Manga -->
                <div>
                    <input class="row_1 wide_manga text" type="text" name="manga" placeholder="Manga" onfocus="this.placeholder = ''" onblur="this.placeholder='Manga'" autocomplete="off">
                </div>
                <!-- Volume Title -->
                <div>
                    <input class="row_2 wide_title text" type="text" name="title" placeholder="Volume Title" onfocus="this.placeholder = ''" onblur="this.placeholder='Volume Title'" autocomplete="off">
                </div>
                <!-- Volume Number -->
                <div>
                    <input class="row_3 wide_number text" type="text" name="number" placeholder="Volume Number" onfocus="this.placeholder = ''" onblur="this.placeholder='Volume Number'" autocomplete="off">
                </div>
                <!--Manual Format-->
                <div>
                    <input class="row_4 submit_button brown" type="submit" name="manual_volume" value="Manual Volume">
                </div>
                <!--Manual Volume Notes-->
                <div>
                    <p class = "row_5 text">**SET-UP NOTES**<br>Include Volume Cover<br>Directory name for each chapter: <br>"[Chapter Number] - [Chapter Title]" OR<br>   "[Chapter Number]"</p>
                </div>
                <!-- Main Menu -->
                <div>
                    <input class="menu_item main button red" type="submit" name="manual_volume" value="Main Menu">
                </div>
            </form>    
        </div>  
    </body>
</html>