<!DOCTYPE html>
<html>
    <head>
        <title>Single Chapter - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="stylesheet" href="../static/manual_single.css">
    </head>
    <body>
        <h1>SINGLE CHAPTER</h1>
        <div>
            <!--Single Chapter Form-->
            <form name = "msingle" method = "POST">
                <!-- Manga -->
                <div>
                    <input class="inputmanga" type="text" name="manga" placeholder="Manga" onfocus="this.placeholder = ''" onblur="this.placeholder='Manga'" autocomplete="off">
                </div>
                <!-- Chapter Title -->
                <div>
                    <input class="inputtitle" type="text" name="title" placeholder="Chapter Title" onfocus="this.placeholder = ''" onblur="this.placeholder='Chapter Title'" autocomplete="off">
                </div>
                <!-- Chapter Number -->
                <div>
                    <input class="inputnumber" type="text" name="number" placeholder="Chapter Number" onfocus="this.placeholder = ''" onblur="this.placeholder='Chapter Number'" autocomplete="off">
                </div>
                <!-- Single Chapter -->
                <div>
                    <input class="manualsingle" type="submit" name="manual_single" value="Single Chapter">
                </div>
                <!-- Main Menu -->
                <div>
                    <input class="mainmenu" type="submit" name="manual_single" value="Main Menu">
                </div>
            </form>    
        </div>     
    </body>
</html>