<!DOCTYPE html>
<html>
    <head>
        <title>Manual Format - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
    </head>
    <body>
        <div>
            <h1>MANUAL FORMAT</h1>
            <!-- Manual Format Form -->
            <form name="manualformat" method="POST">
                <!-- Single Chapter -->
                <div>
                    <input class="top_left button dark_pastel_blue" type="submit" name="manual_format" value="Single Chapter">
                </div>
                <!-- Multi Chapter -->
                <div>
                    <input class="bottom_left button khaki" type="submit" name="manual_format" value="Multi Chapter">
                </div>
                <!-- Volume -->
                <div>
                    <input class="right button brown" type="submit" name="manual_format" value="Volume">
                </div>
                <!-- Main Menu -->
                <div>
                    <input class="menu_item main button red" type="submit" name="manual_format" value="Main Menu">
                </div>
            </form>
        </div>
    </body>
</html>
