<!DOCTYPE html>
<html>
    <head>
        <title>auto_format.html</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="stylesheet" href="../static/manual_format.css">
    </head>
    <body>
        <div>
            <h1>WHICH MANUAL FORMAT?</h1>
            <form name="autoformat" method="POST">
                <div>
                    <input class="single" type="submit" name="manual_format" value="Single Chapter">
                </div>
                <div>
                    <input class="multi" type="submit" name="manual_format" value="Multi Chapter">
                </div>
                <div>
                    <input class="volume" type="submit" name="manual_format" value="Volume">
                </div>
                <div>
                    <input class="mainmenu" type="submit" name="manual_format" value="Main Menu">
                </div>
            </form>
        </div>
    </body>
</html>
