<!DOCTYPE html>
<html>
    <head>
        <title>Manual Multiple Chapters - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
    </head>
    <body>
        <div>
            <h1>MANUAL MULTIPLE CHAPTERS</h1>
            <!-- Multi Chapter Form -->
            <form name = "mmulti" method = "POST">
                <!-- Manga -->
                <div>
                    <input class="row_1 wide_manga text" type="text" name="manga" placeholder="Manga" onfocus="this.placeholder = ''" onblur="this.placeholder='Manga'" autocomplete="off">
                </div>
                <!-- Multi Chapter -->
                </div>
                <div>
                    <input class="row_2 submit_button khaki" type="submit" name="manual_multi" value="Multi Chapter">
                </div>
                <!--Manual Multi Notes-->
                <div>
                    <p class = "row_3 text">**SET-UP NOTES**<br>Directory name for each chapter: <br>"[Chapter Number] - [Chapter Title]" OR<br>   "[Chapter Number]"</p>
                </div>
                <!-- Main Menu -->
                <div>
                    <input class="menu_item main button red" type="submit" name="manual_multi" value="Main Menu">
                </div>
            </form>    
        </div>   
    </body>
</html>