<!DOCTYPE html>
<html>
    <head>
        <title>Manual Format</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="stylesheet" href="../static/manual_single.css">
    </head>
    <body>
        <h1>MANUAL SINGLE CHAPTER</h1>
        <div>
            <!--Manual Format Form-->
            <form name = "msingle" method = "POST">
                <!--Manga Title-->
                <div>
                    <input class="inputmanga" type="text" name="manga" placeholder="Manga" onfocus="this.placeholder = ''" onblur="this.placeholder='Manga'" autocomplete="off">
                </div>
                <div>
                    <input class="inputtitle" type="text" name="title" placeholder="Chapter Title" onfocus="this.placeholder = ''" onblur="this.placeholder='Chapter Title'" autocomplete="off">
                </div>
                <div>
                    <input class="inputnumber" type="text" name="number" placeholder="Chapter Number" onfocus="this.placeholder = ''" onblur="this.placeholder='Chapter Number'" autocomplete="off">
                </div>
                <!--Manual Format-->
                <div>
                    <input class="manualsingle" type="submit" name="manual_single" value="Single Chapter">
                </div>
                <div>
                    <input class="mainmenu" type="submit" name="manual_single" value="Main Menu">
                </div>
            </form>    
        </div>
        <br>        
    </body>
</html>