<!DOCTYPE html>
<html>
    <head>
        <title>Format Queue</title>
    </head>
    <body>
        <!--Commit Format-->
        <h5>
            <!-- Show Preview -->
            {% for i in range(0,len) %}
            <div>{{preview[i]}}</div>
            {% endfor %}
        </h5>
        <form name="commit" method="POST">
            <label>Commit/Abort</label>
            <select name="commit">
                <option value="Commit">Commit</option>
                <option value="Abort">Abort</option>
             </select> 
             <input type="submit" name="commit" value="Commit">
        </form>
    </body>
    </div>
</html>
