<!DOCTYPE html>
<html>
    <head>
        <title>Preview - Manga Formatter</title>
        <link rel="stylesheet" href="../static/base.css">
    </head>
    <body>
        <div>
            <h1>PREVIEW CHANGE</h1>
            <!-- Preview -->
            <div class="message preview">
                {% for i in range(0,len) %}
                <div>{{preview[i]}}</div>
                {% endfor %}
            </div>
            <!-- Commit Form -->
            <form name="commit" method="POST">
                <!-- Commit -->
                <div>
                    <input class="go button green" type="submit" name="commit" value="Commit">   
                    <!-- Abort -->
                    <input class="no_go button red" type="submit" name="commit" value="Main Menu">
                </div>
            </form>
        </div>
    </body>
</html>