<!DOCTYPE html>
<html>
    <head>
        <title>FULL MANGA</title>
    </head>
    <h1>
        YOU WANT TO FORMAT A FULL MANGA
    </h1>
    <body>
        <div>
            <!--FULL MANGA Form-->
            <form name = "fmformat" method = "POST">
                <!--Manga Title-->
                <div>
                    <label>Manga Title</label>
                    <input type="text" name="manga">
                </div>
                </div>
                <!--All Manga Format-->
                <div>
                    <label>Manual Format</label>
                    <input type="submit" name="fullmangaformat" value="Full Manga Format">
                </div>    
            </form>    
        </div>
        <br>        
    </body>
</html>