.selectmanga {
    top: 10vh;
    left: 3vw;
    height: 6vh;
}

.inputtitle {
    top: 18vh;
    left: 3vw;
    height: 6vh;
    width: 70vw;
    font-family: 'Times New Roman';
    font-size: 5vh;
    color: #dadada;
    border: solid;
    border-width: 4px;
    border-radius: 8px;
    cursor: text;
}

.inputtitle:hover {
    cursor: text;
}

.autochapter {
    top: 27vh;
    left: 3vw;
    height: 7vh;
    width: 30vw;
    color: #34aa57;
    border-color: #34aa57;
}

.autochapter:hover {
    color: #dadada;
    background-color: #34aa57;
}