.selectmanga {
    top: 10vh;
    left: 3vw;
    height: 6vh;
}

.inputtitle {
    top: 18vh;
    left: 3vw;
    height: 6vh;
    width: 70vw;
    font-family: 'Times New Roman';
    font-size: 5vh;
    color: #dadada;
    cursor: text;
}

.inputtitle:hover {
    cursor: text;
}

.inputlciv {
    top: 27vh;
    left: 3vw;
    height: 6vh;
    width: 45.5vw;
    font-family: 'Times New Roman';
    font-size: 5vh;
    color: #dadada;
    cursor: text;
}

.inputlciv:hover {
    cursor: text;
}

.autovolume {
    top: 36vh;
    left: 3vw;
    height: 7vh;
    width: 30vw;
    color: #3492aa;
    border-color: #3492aa;
}

.autovolume:hover {
    color: #dadada;
    background-color: #3492aa;
}