.chapter {
    top: 6vh;
    left: 3vw;
    height: 57.5vh;
    width: 45vw;
    color: #34aa57;
    border-color: #34aa57;
}

.chapter:hover {
    color: #dadada;
    background-color: #34aa57;
}

.volume {
    top: 6vh;
    right: 3vw;
    height: 57.5vh;
    width: 45vw;
    color: #3492aa;
    border-color: #3492aa;
}

.volume:hover {
    color: #dadada;
    background-color: #3492aa;
}

table {
    position: fixed;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
    font-family: Impact;
    font-size: 3vh;
    color: #dadada;
    background-color: #272a30;
    border: solid;
    border-width: 4px;
    border-radius: 8px;
    border-spacing: 0px;
    
}

th {
    font-size: 3vh;
    color: #dadada;
}

td {
    font-size: 2vh;
    border-top: solid;
    border-width: 4px;
}

.chapter_status {
    top: 65vh;
    left: 3vw;
    height: 32.5vh;
    width: 45vw;
    color: #34aa57;
    border-color: #34aa57;
}

.volume_status {
    top: 65vh;
    right: 3vw;
    height: 32.5vh;
    width: 45vw;
    color: #3492aa;
    border-color: #3492aa;
}

.manga_title {
    text-align: left;
    padding-left: 1vw;
}

.manga_number {
    text-align: right;
    padding-right: 1vw;
}
