h2 {
    margin-top: 15vh;
    margin-bottom: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
    top: 15vh;
    font-family: 'Times New Roman';
    font-size: 4vh;
    letter-spacing: 2px;
    text-align: center;
    color: #dadada;
    word-wrap: break-word;
    /* background-color: teal; */
}

.menu {
    top: 65vh;
    width: 30vw;
    left: 55vw;
    height: 10vh;
    color: #ca3e47;
    border-color: #ca3e47;
}

.menu:hover {
    color: #dadada;
    background-color: #ca3e47;
}

.retry {
    top: 65vh;
    width: 30vw;
    left: 15vw;
    height: 10vh;
    color: #34aa57;
    border-color: #34aa57;
}

.retry:hover {
    color: #dadada;
    background-color: #34aa57;
}
