.inputmanga {
    top: 10vh;
    left: 3vw;
    height: 6vh;
    width: 50vw;
    font-family: 'Times New Roman';
    font-size: 5vh;
    color: #dadada;
    cursor: text;
}

.inputmanga:hover {
    cursor: text;
}

.inputtitle {
    top: 19vh;
    left: 3vw;
    height: 6vh;
    width: 70vw;
    font-family: 'Times New Roman';
    font-size: 5vh;
    color: #dadada;
    cursor: text;
}

.inputtitle:hover {
    cursor: text;
}

.inputnumber {
    top: 28vh;
    left: 3vw;
    height: 6vh;
    width: 37vw;
    font-family: 'Times New Roman';
    font-size: 5vh;
    color: #dadada;
    cursor: text;
}

.inputnumber:hover {
    cursor: text;
}

.manualsingle {
    top: 37vh;
    left: 3vw;
    height: 7vh;
    width: 33vw;
    color: #34aa57;
    border-color: #34aa57;
}

.manualsingle:hover {
    color: #dadada;
    background-color: #34aa57;
}