.inputmanga {
    top: 15vh;
    height: 6vh;
    left: 3vw;
    width: 70vw;
    font-size: 5vh;
    font-family: 'Times New Roman';
    color: #dadada;
    cursor: text;
}

.inputmanga:hover {
    cursor: text;
}

.inputmanga:focus {
    border: solid;
    border-width: 4px;
    border-radius: 8px;
}

.manualmulti {
    top: 25vh;
    width: 32vw;
    left: 3vw;
    height: 7vh;
    color: #3492aa;
    border-color: #3492aa;
}

.manualmulti:hover {
    color: #dadada;
    background-color: #3492aa;
}
