h5 {
    margin-top: 5vh;
    margin-bottom: 0vh;
    margin-left: 3vw;
    margin-right: 3vw;
    top: 15vh;
    height: 75vh;
    font-family: 'Times New Roman';
    font-size: 1.5vh;
    letter-spacing: 1px;
    color: #dadada;
    word-wrap: break-word;
    /* background-color: teal; */
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: auto;
}

.commit {
    top: 85vh;
    width: 35vw;
    left: 10vw;
    height: 10vh;
    color: #3492aa;
    border-color: #3492aa;
}

.commit:hover {
    color: #dadada;
    background-color: #3492aa;
}

.abort {
    top: 85vh;
    width: 35vw;
    left: 50vw;
    height: 10vh;
    color: #ca3e47;
    border-color: #ca3e47;
}

.abort:hover {
    color: #dadada;
    background-color: #ca3e47;
}
